.container{
    width:100%;
    
    font-family: 'Poppins';
}
.wrapper{
    padding:15px;
    /* background-color: aqua; */
    margin: 0 auto;
    width: 100%;
}
.upload{
    display: flex;
    flex-direction: column;
    gap:15px
}
.ava{
    display: flex;

}
.ava img{
    margin: 0 auto;
    width: 42%;
    height:110px;
    border: #2395FF 4px solid;
    border-radius: 50%;
}
.btn {
    z-index: -10;
    opacity: 0;
    position: absolute;
}
.btnLabel{
    margin: 10px auto;
    border: 4px solid #2395FF;
    border-radius: 10px;
    width:150px;
    padding-top: 12.5px; 
    padding-bottom: 12.5px ;
    color:#2395FF; 
    font-weight: 700;
    font-size: 16px;
    text-align: center  ;
}
.userName{
    margin: 0 auto;
    font-weight: 600;
font-size: 20px;
line-height: 30px;
}
.userOrigin{
    font-weight: 400;
font-size: 14px;
line-height: 22px;
text-align: center;
color: #6B6B6B;
}
.cards{
    margin:0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cardBox{
    width: 100%;
    padding: 12px 25px 12px 25px;
    background: #2395FF;
    box-shadow: 0px 8px 25px rgba(35, 149, 255, 0.49);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    color: #fff;
}
.cardIdentity{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottomsect{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    height:22px;
    font-weight: 600;
font-size: 14px;
}
#profile{
    color:#2395FF
}
#logout{
    color:#f24545
}
/* .card{
    position: absolute;
    width: 325px;
    height: 715px;
    top: 50px;
    left: 325px;
    background: #FFFFFF;
    border-radius: 15px;
}
.btn{
    box-sizing: border-box;
    position: absolute;
    width: 150px;
    height: 50px;
    left: 415px;
    top: 250px;
    background: #FFFFFF;
    border: 1px solid #2395FF;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #2395FF;
}
.upload Input[type="file"]{
    position: absolute;
    top: 250px;
    left: 415px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    opacity: 0;
}

.userName{
    position: absolute;
    width: 325px;
    left: 325px;
    top: 325px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #000000;
}
.userOrigin{
    position: absolute;
    width: 325px;
    left: 325px;
    top: 365px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #6B6B6B;
    text-align: center;
}
.cards{
    position: absolute;
    left: 360px;
    top: 410px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}
.btn2{
    position: absolute;
    width: 72px;
    height: 22px;
    left: 550px;
    top: 410px;
    background: none;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #2395FF;
}
.cardBox{
    position: absolute;
    left: 350px;
    top: 450px;
    width: 267px;
    height: 68px;
    background: #2395FF;
    box-shadow: 0px 8px 25px rgba(35, 149, 255, 0.49);
    border-radius: 10px;
}
.cardNumber{
    position: absolute;
    left: 370px;
    top: 460px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 1.5px;
}
.cardBank{
    position: absolute;
    left: 370px;
    top: 490px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #AEFAFF;
}
.cardSaldo{
    position: absolute;
    left: 550px;
    top: 490px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #AEFAFF;
}
.wrapper{
    position: absolute;
    left: 370px;
    top: 550px;
    
}
.wrapper p{
    position: absolute;
    top: 3px;
    left: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #2395FF;
    
}
.wrapper2{
    position: absolute;
    left: 370px;
    top: 600px;
}
.wrapper2 p{
    position: absolute;
    width: 100px;
    top: 3px;
    left: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}
.wrapper3{
    position: absolute;
    left: 370px;
    top: 650px;
}
.wrapper3 p{
    position: absolute;
    width: 100px;
    top: 3px;
    left: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}
.wrapper4{
    position: absolute;
    left: 370px;
    top: 700px;
}
.wrapper4 p{
    position: absolute;
    width: 100px;
    top: 3px;
    left: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #F24545;
} */